* {
  box-sizing: border-box !important;
}

html {
  scroll-behavior: smooth;
}

.App {
  background-color: #04192e;
}

.App .header {
  height: 150px;
  background-color: aqua;
}

.App .main-time-loca {
  margin: 0;
  padding: 0;
  background-color: #053763;
}

.App .footer {
  height: 100px;
  margin-top: 20px;
  background-color: aqua;
}